<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css"
	href="lib/bootstrap/dist/css/bootstrap.css">
<link href="src/css/responsive.css" rel="stylesheet">
<link href="src/css/style.css" rel="stylesheet">
<script src="lib/angular/angular.js" type="text/javascript"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"
	type="text/javascript"></script>
<script src="src/js/main.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"
	type="text/javascript"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"
	type="text/javascript"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"
	type="text/javascript"></script>
<script
	src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"
	type="text/javascript"></script>
<script src="//lib/angular-bootstrap/ui-bootstrap.js"></script>

<link href="src/css/main.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="lib/bootstrap/js/hover.zoom.js"></script>
<script src="lib/bootstrap/js/hover.zoom.conf.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-app="blogService">
	<div ng-controller="BlogController as blog">
	
		<div class="topbar">
      		<div class="container">
        		<div class="row">
          			<div class="col-xs-6">
          				<h1 ng-click="blog.selectTab('blog')">{{blog.title}}</h1>
          			</div>
          			<div class="col-xs-6">
            			<nav role='navigation' class="push-right">
              				<ul>
								<div ng-show="!blog.userLoggedIn">
              						<button class="btn btn-primary" ng-model="login" ng-click="blog.selectTab('login')" required>Login</button><br>
								</div>
								<div ng-show="blog.userLoggedIn">
									<button class="btn btn-primary" ng-model="logout" ng-click="blog.userLogout()">Logout</button>
									<button class="btn btn-primary" ng-model="newPost" ng-click="blog.selectTab('new')">Add new Post</button>
									<button class="btn btn-primary" ng-model="showPosts" ng-click="blog.selectTab('blog')">Show Posts</button>
									<button class="btn btn-primary" ng-model="createGroup" ng-click="blog.selectTab('newGroup')">Create Group</button>
									<p>Logged in as: {{blog.currentUser.Name}}</p>
								</div>
              				</ul>
            			</nav>
          			</div>		
          		</div>
          	</div>
        </div>
        
        <div class="content">
        	<div class="container">
				<!-- all posts -->
        		<div class="row">
        			<ul class="post-grid" ng-show="blog.isSelected('blog')">
        				<li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index); blog.storeCurrentPost(post)">
							<a>
								<h3>{{post.Title}}</h3>
								<p>{{post.Text | limitTo:70}}</p></a>
        				</li>
					</ul>
					
					
					<div ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
						<div>
							<h2>{{post.Title}}</h2>
							<cite>by {{post.AuthorName}} on {{post.Date | date}}</cite>
							<p>{{post.Text}}</p>
							<h3>Comments: </h3>
							<div ng-repeat="comment in blog.comments">
								{{comment.Text}} - <cite>{{comment.AuthorName}}</cite>
							</div>

							<br>
							<h3>New comment:</h3> <input type="text" ng-model="blog.commentText">
							<Button type="button" class="btn btn-primary" ng-click="blog.addComment()">Add comment</Button>
						</div>
					</div>
        		</div>
				
				<div ng-show="blog.isSelected('login')">
					<h2>Login</h2>
					<p>Email: <input type="text" type="email" ng-model="blog.login.userEmailaddress"></p>
					<p>Password: <input type="password" ng-model="blog.login.userPassword"></p>
					<button class="btn btn-primary" ng-model="loginButton" ng-click="blog.userLogin()" required>Login</button>
					<h2>Register</h2>
					<p>Username: <input type="text" ng-model="blog.usernameNew"></p>
					<p>Password: <input type="password" ng-model="blog.passwordNew"></p>
					<p>Repeat password: <input type="password" ng-model="blog.password2New"></p>
					<p>Email Address: <input type="email" ng-model="blog.emailNew"></p>
					<button class="btn btn-primary" ng-model="registerButton" ng-click="blog.registrate()">Register</button>
				</div>



				<div ng-show="blog.isSelected('new')">
					<h2>Add a new Post</h2><br>
					<p>Title: <input type="text" ng-model="blog.newPostTitle"></p>
					<p>Content: <textarea ng-model="blog.newPostBody" rows="5"></textarea></p>
					<button class="btn btn-primary" ng-model="addPostButton" ng-click="blog.addPost()">Add</button>

					<!-- showGroups -->
					<div class="btn-group" uib-dropdown is-open="blog.status.isopen3">
						<button id="single-button3" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled" ng-click="blog.getAllGroups()">Select Group <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button3">
							<div ng-repeat="group in blog.allGroups" ng-click="blog.selectedGroup(group.Name)"> {{group.Name}}</div>
						</ul>
					</div>
					<br>
					<p>Selected Group: {{blog.createPostInGroup}}</p>
				</div>
				
				<div ng-show="blog.isSelected('newGroup')">
					<h2>Create a new group</h2>
					<p>Title: <input type="text" ng-model="blog.newGroupTitle"></p>

					<!-- Show all members -->
					<p>Members: <label ng-model="currentMembers"><div ng-repeat="mems in blog.members">{{mems.Name}}</div></label></p>

					<!-- Add Member -->
					<div class="btn-group" uib-dropdown is-open="blog.status.isopen">
						<button id="single-button2" type="button" ng-click="blog.getAllMembers()" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							Add member <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
							<div ng-repeat="mems in blog.allMembers" ng-click="blog.addMember(mems)">{{mems.Name}}</div>
						</ul>
					</div>


					<!-- Delete member -->
					<div class="btn-group" uib-dropdown is-open="blog.status.isopen2">
						<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
							Delete member <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
							<div ng-repeat="mems in blog.members" ng-click="blog.deleteMember(mems)"> <i class ="glyphicon glyphicon-remove" style="font-size:18px; color:black;"></i>{{mems.Name}}</div>
						</ul>
					</div>

					<button class="btn btn-primary" ng-model="createGroup" ng-click="blog.createGroup()">Create</button>

				</div>
			</div>
        </div>
	</div>
	
</body>
</html>