<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="lib/bootstrap/dist/css/bootstrap.css">
    <link href="src/css/responsive.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <script src="lib/angular/angular.js" type="text/javascript"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"
            type="text/javascript"></script>
    <script src="src/js/main.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"
            type="text/javascript"></script>
    <script
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"
            type="text/javascript"></script>
    <script
            src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"
            type="text/javascript"></script>
    <script
            src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"
            type="text/javascript"></script>
    <script src="//lib/angular-bootstrap/ui-bootstrap.js"></script>

    <link href="src/css/main.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="lib/bootstrap/js/hover.zoom.js"></script>
    <script src="lib/bootstrap/js/hover.zoom.conf.js"></script>

    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body ng-app="blogService">
<div ng-controller="BlogController as blog">

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <h1 ng-click="blog.selectTab('blog')">{{blog.title}}</h1>
                </div>
                <div class="col-xs-4">
                    <nav role='navigation' class="pull-left">
                        <ul>
                            <button class="btn btn-primary" ng-model="login" ng-click="blog.selectTab('login')">Login
                            </button>
                            <button class="btn btn-primary" ng-model="newPost" ng-click="blog.selectTab('new')">Add new
                                Post
                            </button>
                            <button class="btn btn-primary" ng-model="showPosts" ng-click="blog.selectTab('blog')">Show
                                Posts
                            </button>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <!-- all posts -->
            <div class="row">
                <ul class="post-grid" ng-show="blog.isSelected('blog')">
                    <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }"
                        ng-click="blog.selectTab($index)">
                        <a>
                            <h3>{{post.title}}</h3>
                            <p>{{post.body[0] | limitTo:70}}</p>
                            <p>Comments: {{post.comments.length}}</p>
                            <p>Likes: {{post.likes}}</p></a>
                    </li>
                </ul>


                <div ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
                    <div>
                        <h2>{{post.title}}</h2>
                        <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
                        <div class="post-body">
                            <p ng-repeat="text in post.body">{{text}}</p>
                            <h3>Comments: </h3>
                            <div ng-repeat="comment in post.comments">
                                {{comment.body}} - <cite>{{comment.author}}</cite>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="blog.isSelected('new')">
                <h2>Add a new Post</h2><br>
                <p>Title: <input type="text" ng-model="newTitle"></input></p>
                <p>Content: <textarea ng-model="newContent" rows="5"></textarea></p>
                <!-- todo -->
            </div>

            <div ng-show="blog.isSelected('login')">
                <h2>Login</h2>
                <p>Username: <input type="text" ng-model="username"></input></p>
                <p>Password: <input type="text" ng-model="password"></input></p>
                <button class="btn-default" ng-model="register" ng-click="blog.selectTab('register')">Not registered?
                </button>
            </div>

            <div ng-show="blog.isSelected('register')">
                <h2>Register new user</h2>
                <p>Username: <input id="input_user_reg" type="text" ng-model="reg_user"></p>
                <p>First name: <input id="input_firstname_reg" type="text" ng-model="reg_fName"></p>
                <p>Last name: <input id="input_lastname_reg" type="text" ng-model="reg_lName"></p>
                <p>Password: <input id="input_password_reg" type="password" ng-model="reg_password"></p>
                <button class="btn-default" ng-model="createUser" ng-click="blog.addNewUser()">Create User</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>